<header id="main-header" class="box-shadow-bottom">
  <div class="container h-100">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
        <!-- <div class="pb-2 pt-2 logo-wrapper">
          <img
            height="40px"
            src="../../assets/images/coforge-logo.png"
            alt="Logo"
          />
        </div>
      </div> -->
        <!-- <div class="col-md-8 col-sm-8 col-xs-12 col-lg-8 nav-wrapper"> -->
        <!-- <nav class="main-nav">
          <ul>
            <li><a routerLink="/">Login</a></li>
            <li><a routerLink="/customer">Customer</a></li>
            <li><a routerLink="/dashboard">Dashboard</a></li>
            <li><a routerLink="/my-order">My Order</a></li>
          </ul>
        </nav> -->
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" routerLink="/">
            <img
              height="40px"
              src="../../assets/images/coforge-logo.png"
              alt="Logo"
            />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            (click)="toggleMenu()"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div
            class="{{ collapse ? 'collapse' : 'expand' }} navbar-collapse"
            id="navbarSupportedContent"
          >
            <ul class="navbar-nav ml-auto">
              <!-- <li class="nav-item active">
                <a class="nav-link" routerLink="/">Login</a>
              </li> -->
              <li *ngIf="!!authUserService.user" class="nav-item">
                <a class="nav-link" routerLink="/customer">Customer</a>
              </li>
              <li  *ngIf="!!authUserService.user" class="nav-item">
                <a class="nav-link" routerLink="/dashboard">Dashboard</a>
              </li>
              <li *ngIf="!!authUserService.user"  class="nav-item">
                <a class="nav-link" routerLink="/my-order">My Order</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/feedback">Feedback</a>
              </li>
              <li *ngIf="!!authUserService.user"  class="nav-item">
                <button class="btn nav-link" (click)="logOut()">Logout</button>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
<section id="main-section">
  <!-- <a routerLink="/feedback">settings</a> -->

  <router-outlet></router-outlet>
</section>

<footer id="main-footer">
  <div class="container h-100 d-flex flex-column flex-justify-center">
    <div class="row">
      <div class="col-md-6 col-xs-12 col-sm-6">
        <p class="copyright">©Coforge, 2021</p>
      </div>
      <div class="col-md-6 col-xs-12 col-sm-6">
        <nav class="main-nav">
          <ul>
            <li><a href="index.html">About Us</a></li>
            <li><a href="index.html">Terms and conditions </a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
