<header id="main-header" class="box-shadow-bottom">
  <div class="container h-100">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
        <div class="pb-2 pt-2 logo-wrapper">
          <img
            height="40px"
            src="../../assets/images/coforge-logo.png"
            alt="Logo"
          />
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6 nav-wrapper">
        <nav class="main-nav">
          <ul>
            <li>{{today | date:'hh:mm:ss zzzz'}}</li>
            <li><a routerLink="/">Login</a></li>
            <li><a routerLink="/customer">Customer</a></li>
            <li><a routerLink="/dashboard">Dashboard</a></li>
            <li><a routerLink="/flights">Flight List</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
<section id="main-section">
  <router-outlet></router-outlet>
</section>

<footer id="main-footer">
  <div class="container h-100 d-flex flex-column flex-justify-center">
    <div class="row">
      <div class="col-md-6 col-xs-12 col-sm-6">
        <p class="copyright">©Coforge, 2021</p>
      </div>
      <div class="col-md-6 col-xs-12 col-sm-6">
        <nav class="main-nav">
          <ul>
            <li><a href="index.html">About Us</a></li>
            <li><a href="index.html">Terms and conditions </a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>
