<div class="container ">
    <div class="row">
        <div class="col">
            <h1>Search Flight</h1>
        </div>
        </div>
  <!-- Top Card -->
  <div class="row">
    <div class="col-md-12">
      <div class="card top-card position-relative transparent-white">
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-12">
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="inlineRadioOptions"
                    id="inlineRadio1"
                    value="option1"
                  />
                  <label class="form-check-label" for="inlineRadio1"
                    >ONW WAY</label
                  >
                </div>
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="inlineRadioOptions"
                    id="inlineRadio2"
                    value="option2"
                  />
                  <label class="form-check-label" for="inlineRadio2"
                    >ROUND TRIP</label
                  >
                </div>
              </div>
              <div class="col-md-12 mb-10">
                <div class="row g-3 mt-10">
                  <div class="col-md-4 col-sm-6 col-xs-12 col-lg-3">
                    <label for="from" class="visually-hidden">From</label>
                    <input
                      type="text"
                      class="form-control"
                      id="from"
                      placeholder="From"
                    />
                  </div>
                  <div class="col-md-4 col-sm-6 col-xs-12 col-lg-3">
                    <label for="to" class="visually-hidden">To</label>
                    <input
                      type="text"
                      class="form-control"
                      id="To"
                      placeholder="To"
                    />
                  </div>
                  <div class="col-md-4 col-sm-6 col-xs-12 col-lg-3">
                    <label for="departureDate" class="visually-hidden"
                      >Departure Date</label
                    >
                    <input
                      type="date"
                      class="form-control"
                      id="departureDate"
                      placeholder="Date"
                    />
                  </div>
                  <div class="col-md-4 col-sm-6 col-xs-12 col-lg-3">
                    <label for="returnDate" class="visually-hidden"
                      >Return Date</label
                    >
                    <input
                      type="date"
                      class="form-control"
                      id="returnDate"
                      placeholder="Date"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-3 mb-3 fare-type-button-wrapper">
              <div class="col-md-12">
                <button class="btn btn-primary mb-2 mr-2" type="button">
                  Regular Fare
                </button>
                <button class="btn btn-info mb-2 mr-2" type="button">
                  Student Fare
                </button>
                <button class="btn btn-info mb-2" type="button">
                  Double Seat
                </button>
              </div>
            </div>
            <button class="btn btn-primary card-search-btn" type="button">
              Search
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- End Top Card -->
  <!-- Offer Card -->
  <div class="row offer-row">
    <div class="col-md-4">
      <div class="card offer-card transparent-blue">
        <div class="card-body position-relative">
          <div class="row">
            <div class="col-auto">
              <div class="image-wrapper">
                <img src="../../assets/images/pl.png" />
              </div>
            </div>
            <div class="col">
              <h4>Personal Loan</h4>
              <p>Lorem Ipsum is simply dummy text of the printing.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card offer-card transparent-green">
        <div class="card-body">
          <div class="row">
            <div class="col-auto">
              <div class="image-wrapper">
                <img src="../../assets/images/pl.png" />
              </div>
            </div>
            <div class="col">
              <h4>Personal Loan</h4>
              <p>Lorem Ipsum is simply dummy text of the printing.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card offer-card transparent-yellow">
        <div class="card-body">
          <div class="row">
            <div class="col-auto">
              <div class="image-wrapper">
                <img src="../../assets/images/pl.png" />
              </div>
            </div>
            <div class="col">
              <h4>Personal Loan</h4>
              <p>Lorem Ipsum is simply dummy text of the printing.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- End Offer Card -->
</div>
