<div class="container" >
<h1>Customer</h1>
</div>
<div class="container white-transparent pt-3">
  <h2>Create Customer</h2>
  <form #customerForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="exampleInputName">First Name</label>
      <input
        required
        type="name"
        name="name"
        class="form-control"
        id="exampleInputName"
        [(ngModel)]="model.first_name"
        name="name"
        aria-describedby="nameHelp"
        placeholder="Enter First Name"
      />
    </div>
    <div class="form-group">
      <label for="exampleInputName">Last Name</label>
      <input
        required
        type="name"
        name="name"
        class="form-control"
        id="exampleInputName"
        [(ngModel)]="model.last_name"
        name="name"
        aria-describedby="nameHelp"
        placeholder="Enter Last Name"
      />
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email</label>
      <input
        type="email"
        required
        name="email"
        class="form-control"
        id="exampleInputEmail1"
        [(ngModel)]="model.email"
        name="email"
        aria-describedby="emailHelp"
        placeholder="Enter email"
      />
    </div>
    <div class="form-group">
      <label for="exampleInputAddress">Address</label>
      <input
        type="address"
        name="address"
        class="form-control"
        id="exampleInputAddress"
        [(ngModel)]="model.address"
        name="address"
        aria-describedby="addressHelp"
        placeholder="Enter address"
      />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <div class="table-responsive mt-2">
    <h2>Customer List</h2>
    <table class="table table-striped table-bordered">
      <thead class="thead-dark ">
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Address</th>
          <th>-</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="!customers.toJSON().length">
          <td  colspan="4" class="text-center">No Record Found</td>
        </tr>
        <tr   *ngFor="let customer of customers.toJSON()">
          <td>
            <span *ngIf="!customer.editMode">{{ customer.first_name | uppercase }}</span>
            <input
              *ngIf="customer.editMode"
              type="text"
              class="form-control"
              [(ngModel)]="customer.first_name"
              name="name"
              placeholder="Enter Name"
            />
          </td>
          <td>
            <span *ngIf="!customer.editMode">{{ customer.last_name | uppercase }}</span>
            <input
              *ngIf="customer.editMode"
              type="text"
              class="form-control"
              [(ngModel)]="customer.last_name"
              name="name"
              placeholder="Enter Name"
            />
          </td>
          <td>
            <span *ngIf="!customer.editMode">{{ customer.email }}</span>

            <input
              *ngIf="customer.editMode"
              type="email"
              class="form-control"
              [(ngModel)]="customer.email"
              name="email"
              aria-describedby="emailHelp"
              placeholder="Enter email"
            />
          </td>
          <td>
            <span *ngIf="!customer.editMode">{{ customer.address }}</span>
            <input
              *ngIf="customer.editMode"
              type="text"
              class="form-control"
              [(ngModel)]="customer.address"
              name="name"
              placeholder="Enter Address"
            />
          </td>
          <td>
            <button
              *ngIf="!customer.editMode"
              class="btn btn-info mr-2"
              (click)="toggleEditable(customer._id)"
            >
              Edit
            </button>
            <button
            class="btn btn-primary mr-2"
              *ngIf="customer.editMode"
              (click)="customers.updateCustomer(customer._id)"
            >
              Update
            </button>
            <button
            class="btn btn-danger mr-2"
              *ngIf="!customer.editMode"
              (click)="customers.deleteCustomer(customer._id)"
            >
              Delete
            </button>
            <button
              class="btn btn-info mr-2"
              *ngIf="customer.editMode"
              (click)="toggleEditable(customer._id)"
            >
              Cancel
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
